.bckground-home {
    background-image: url("../image/bg-home.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.sidebar {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    width: 200px;
    background-color: #f4f4f4;
    padding: 10px;
}
  
.sidebar-content {
    margin: 10px 0;
    padding: 10px;
    background-color: #ddd;
}

.home-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f4f4f4;
}
  
.main-content {
    flex-grow: 1;
    padding: 20px;
}