.background-reg {
  background-image: url("../image/bg-form.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.button-reg {
  width: 128px;
  height: 35px;
  border: none;
  border-radius: 3px;
  margin-top: 3px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.button-reg:hover {
  background-color: #585858;
}

.custom-dark-form {
  background-color: black;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.custom-dark-form input {
  background-color: #343a40;
  color: white;
}
